@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


body {
    background: linear-gradient(to bottom, #c2f0c2, #ffffff);
    font-family: 'Nunito', sans-serif;
    line-height: 2.0;
    text-align: center;
    margin: 30px 200px;
    padding: 20px;
    color: #2e7d32;
}


p {
    color: #333;
    font-size: 20px;
    margin-bottom: 15px;
}


img {
    display: block;
    margin: 20px auto;
    border-style: dashed;
    border: 3px solid rgb(154, 243, 173);
    height: 250px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


.links-ancoras {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 25px; /* espaço entre os links */
    flex-wrap: wrap;
}


a {
    display: inline-block;
    padding: 12px 20px;
    color: #2e7d32;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #81c784;
    border-radius: 6px;
    background-color: #d0f5c9;
    transition: background-color 0.3s, transform 0.2s;
}

a:hover {
    background-color: #a5d6a7;
    color: #1b5e20;
    border-bottom-color: #4caf50;
    transform: scale(1.05);
}


section {
    margin-bottom: 60px;
}